<div class="body">


    <div class="contenedor">
        <div class="contenedor1">
            <h1 style="margin-left: 8%;">Creador</h1>

            <div style="height: 20%;"></div>
            <button type="button" class="btn btn-primary creadores"><i class="fab fa-twitter" style="margin-right: 5px;"></i>    <a target="_blank" style="color: rgb(255, 255, 255); text-decoration-line: none;" href="https://twitter.com/{{dato}}?ref_src=twsrc%5Etfw" onclick="window.open(this.href, this.target, 'width=450,height=600'); return false" class="twitter-follow-button" data-lang="es" data-show-count="true">Seguir a @{{dato}}</a>
            </button>

            <div style="height: 20%;"></div>
            <button style="margin-left: 15%;" type="button" class="btn btn-success ">Confirmar</button>
        </div>
    </div>


</div>