<div style="text-align:center">
    <h1>
        Prueba {{ title }}
    </h1>
</div>

<div class="creadores">
    <div class="c1">
        <h2>Creadores</h2>
        <div *ngFor="let creador of creadores; let i = index" class="creadores1">

            <p>- Nombre: {{creador[0]}}</p>
            <!-- <a target="_blank" href="https://twitter.com/{{creador[1]}}?ref_src=twsrc%5Etfw" onclick="window.open(this.href, this.target, 'width=450,height=600'); return false" class="twitter-follow-button" data-lang="es" data-show-count="true">Seguir a @{{creador[1]}}</a> -->
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <br>
            <button type="button" [routerLink]="['/Seguir',i]" class="btn btn-primary creadores"><i class="fab fa-twitter" style="margin-right: 5px;"></i>{{creador[1]}}</button>
        </div>
    </div>
</div>