<div class="body">


    <div class="contenedor">
        <div class="contenedor1">
            <h1 style="margin-left: 35%; width: 100%;">Gracias</h1>
            <div style=" height: 10%;"></div>
            <p style="margin-left: 8%; color: rgb(8, 187, 53); font-size: 20px;">Haz completado todos los pasos con exito</p>

            <div style=" height: 20%;"></div>
            <button style="margin-left: 39%;" [routerLink]="['/Home']" type="button" class="btn btn-success ">Continuar</button>
        </div>
    </div>


</div>